# **Bank Note Authentication**

#### **Library**

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("BankNote_Authentication.csv")
data.head(10)

    variance  skewness  curtosis   entropy  class
0    3.62160    8.6661  -2.80730 -0.446990      0
1    4.54590    8.1674  -2.45860 -1.462100      0
2    3.86600   -2.6383   1.92420  0.106450      0
3    3.45660    9.5228  -4.01120 -3.594400      0
4    0.32924   -4.4552   4.57180 -0.988800      0
..       ...       ...       ...       ...    ...
95  -0.64472   -4.6062   8.34700 -2.709900      0
96   2.95430    1.0760   0.64577  0.893940      0
97   2.16160   -6.8804   8.15170 -0.081048      0
98   3.82000   10.9279  -4.01120 -5.028400      0
99  -2.74190   11.4038   2.53940 -5.579300      0

[100 rows x 5 columns]

In [3]:
data.shape

(1372, 5)

#### **Chack The Null**

In [4]:
data.isnull().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

#### **Split The Data**

In [5]:
X = data.drop("class", axis=1)
y = data['class']

In [6]:
print(X.shape)
print(y.shape)

(1372, 4)
(1372,)

#### **Train Test split**

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

#### **Apply Agoridhm**

In [8]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [9]:
y_pred = classifier.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
score

0.9902912621359223

#### **pickle file**

In [11]:
import pickle
pkl_file = open("bnknote.pkl",'wb')
pickle.dump(classifier,pkl_file)
pkl_file.close()